* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30% 70%;
    min-height: 100vh;
}

.container>div {
    display: grid;
    padding: 1rem;
}

.container>.aside {
    background-color: #1992D4;
    color: #FFFFFF;
    grid-area: 1/1/3/2;
    grid-template-rows: repeat(3, max-content);
    align-items: start;
    padding-left: 2rem;
    gap: 3rem;
}

.aside .logo-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.aside .logo {
    height: 2em;
    width: 2em;
    fill: #FFFFFF;

}

.container>.section {
    background-color: blue;
    grid-area: 2/2/3/3;
}

.container>.header {
    background-color: aqua;
    grid-area: 1/2/2/3;
}