@font-face {
    font-family: "Basic";
    src: url(assets/fonts/abeezee/ABeeZee-Regular.otf) format("opentype");
}

@font-face {
    font-family: "BasicItalic";
    src: url(assets/fonts/abeezee/ABeeZee-Italic.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



p {
    font-family: Basic, 'Times New Roman', Times;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min(30%, 150px) 70%;
    min-height: 100vh;
}

.container>div {
    display: grid;
    padding: 1rem;
}

.container>.aside {
    background-color: #1992D4;
    color: #FFFFFF;
    grid-area: 1/1/3/2;
    grid-template-rows: repeat(3, max-content);
    align-items: start;
    padding-left: 1rem;
    gap: 3rem;
}

.aside .logo-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.aside .logo {
    height: 2em;
    width: 2em;
    fill: #FFFFFF;

}

ul {
    list-style: none;
    display: grid;
    gap: 0.8rem;
}

ul>li {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.7em;
    align-items: center;
}

.icon {
    height: 1em;
    width: 1em;
    fill: #FFFFFF;
}



.container>.section {
    background-color: blue;
    grid-area: 2/2/3/3;
}

.container>.header {
    background-color: aqua;
    grid-area: 1/2/2/3;
}